.nav-bar-page {
}

.nav-bar-page__nav-bar-row {
  display: flex;
  position: relative;
}
.nav-bar-page__nav-bar {
  height: var(--site-header-height);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  flex: 1 1 100%;
  padding: var(--sgrd);
}

.nav-bar-page__nav-bar__v-dim {
  height: var(--site-header-height);
  position: relative;
  margin-left: var(--xsgrd);
}

.nav-bar-page__nav-bar__item {
  margin: 0 var(--sgrd);
}
