.example-label {
  grid-area: "label";
  box-sizing: border-box;
  margin-bottom: var(--sgrd);
}

.example-row .example-label {
  margin-bottom: 0;
}

.example-label__subtitle {
  font: var(--basic-font--small);
  color: var(--basic-font-color--light);
}
