.prereview-logo {
  display: flex;
  align-items: center;
  height: calc(var(--site-header-height) - var(--lgrd));
  width: max-content;
  flex: 1 1 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.prereview-logo__logo-icon {
  padding-right: 8%;
  flex: 0 0 auto;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  width: fit-content;
}
.preveview-logo__logo-text {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: fit-content;
  height: 20px;
  & > img {
    width: 191px;
    object-fit: contain;
    object-position: left;
  }
}

.prereview-logo__logo-icon img {
  margin: 0;
  object-fit: contain;
  height: 48px;
}

.preveview-logo__logo-text img {
  margin: 0;
  object-fit: contain;
  height: 20px;
}
