@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

:root {
  /* grid */
  --xxsgrd: 4px;
  --xsgrd: 8px;
  --sgrd: 16px;
  --mgrd: 24px;
  --lgrd: 32px;
  --xlgrd: 40px;
  --xxlgrd: 56px;
  /* Pre Review Colors */
  --prereview-red: #ff3333;
  --prerview-red-text-shadow: #8f0000;
  --prereview-black: #000000;
  --prereview-white: #ffffff;
  --prereview-grey: #4b4949;
  --prereview-blue: #197cf4;
  --prereview-light-blue: #e4edf7;
  --prereview-light-gold: #fffaee;
  --prereview-gold: #fcbd4c;
  --prereview-coral: #f77463;

  --prereview-spring-green: #66f785;

  --prereview-xxxlight-grey: #ebe9e9;
  --prereview-xxlight-grey: #c1bfbf;
  --prereview-xlight-grey: #a5a3a3;
  --prereview-light-grey: #747272;
  --unrich-black: #0b0b0b;

  --ruling-color: var(--prereview-light-grey);

  --basic-font-color: var(--unrich-black);
  --basic-font-color--light: #767676;

  /* standard button colors */
  --button-background-color: transparent;
  --button-foreground-color: var(--ui-basic-font-color);
  --button-background-focus-color: var(--prereview-black);
  --button-foreground-focus-color: var(--prereview-white);

  /* primary-style button colors - these are buttons that need to stand out*/
  --button-background-color--primary: var(--prereview-red);
  --button-foreground-color--primary: var(--prereview-white);
  --button-background-focus-color--primary: var(--prereview-black);
  --button-foreground-focus-color--primary: var(--prereview-white);

  /* Fonts */
  --font-family: "Open Sans", "sans-serif";

  --basic-font-size: 11pt;
  --basic-line-height: 16pt;
  --basic-bottom-margin: 12pt;
  --basic-top-margin: 0;
  --basic-font: 400 var(--basic-font-size) / var(--basic-line-height)
    var(--font-family);

  --basic-font-size--small: 10pt;
  --basic-line-height--small: 16pt;
  --basic-bottom-margin--small: 12pt;
  --basic-top-margin--small: 0pt;
  --basic-font--small: 400 var(--basic-font-size--small) /
    var(--basic-line-height--small) var(--font-family);

  --basic-font-size--large: 13pt;
  --basic-line-height--large: 20pt;
  --basic-bottom-margin--large: 12pt;
  --basic-top-margin--large: 0pt;
  --basic-font--large: 500 var(--basic-font-size--large) /
    var(--basic-line-height--large) var(--font-family);

  --short-text-line-height: 12pt;
  --short-text-font: 500 var(--basic-font-size) / var(--short-text-line-height)
    var(--font-family);

  --short-text-line-height--large: 16pt;
  --short-text-font--large: 500 var(--basic-font-size--large) /
    var(--short-text-line-height--large) var(--font-family);

  --header-menu-font-size: 16px;
  --header-menu-line-height: 20px;
  --header-menu-font: 400 var(--header-menu-font-size) /
    var(--header-menu-line-height) var(--font-family);

  --header-1-font-size: 24pt;
  --header-1-line-height: 32pt;
  --header-1-top-margin: 0pt;
  --header-1-bottom-margin: 24pt;
  --header-1-font: 600 var(--header-1-font-size) / var(--header-1-line-height)
    var(--font-family);

  --header-2-font-size: 20pt;
  --header-2-line-height: 24pt;
  --header-2-top-margin: 0pt;
  --header-2-bottom-margin: 20pt;
  --header-2-font: 500 var(--header-2-font-size) / var(--header-2-line-height)
    var(--font-family);

  --header-3-font-size: 16pt;
  --header-3-line-height: 20pt;
  --header-3-top-margin: 0pt;
  --header-3-bottom-margin: 16pt;
  --header-3-font: 500 var(--header-3-font-size) / var(--header-3-line-height)
    var(--font-family);

  --header-4-font-size: 14pt;
  --header-4-line-height: 20pt;
  --header-4-top-margin: 0pt;
  --header-4-bottom-margin: 10pt;
  --header-4-font: 500 var(--header-4-font-size) / var(--header-4-line-height)
    var(--font-family);

  --header-5-font-size: 11pt;
  --header-5-line-height: 16pt;
  --header-5-top-margin: 0pt;
  --header-5-bottom-margin: 4pt;
  --header-5-font: 600 var(--header-5-font-size) / var(--header-5-line-height)
    var(--font-family);

  --display-1-font-size: 32pt;
  --display-1-line-height: 40pt;
  --display-1-top-margin: 20pt;
  --display-1-bottom-margin: 20pt;
  --display-1-font: 300 var(--display-1-font-size) /
    var(--display-1-line-height) var(--font-family);

  /* button fonts */
  --button-font-size: var(--basic-font-size);
  --button-font-leading: var(--basic-font-size);
  --button-font: 500 var(--button-font-size) / var(--ui-button-font-leading)
    var(--font-family);

  --button-font-size--primary: 16px;
  --button-font-leading--primary: 16px;
  --button-font--primary: 500 var(--button-font-size--primary) /
    var(--button-font-leading--primary) var(--font-family);

  /* Site Vars */
  --site-header-height: 80px;
  --site-left-margin-width: 200px;
}
body {
  font: var(--basic-font);
  color: var(--basic-font-color);
}

a,
a:visited {
  color: var(--);
}

img {
  margin: 0;
}

blockquote {
  padding: var(--sgrd);
  background: var(--prereview-light-blue);
  margin: var(--sgrd) 0;
}
/* Media Queries */

@custom-media --mobile only screen and (width <= 420px);
@custom-media --beyond-mobile only screen and (width > 420px);

@custom-media --only-small-tablet only screen and (width > 420px) and (width <= 640px);
@custom-media --up-to-small-tablet only screen and (width <= 420px);
@custom-media --small-tablet only screen and (width <= 640px);
@custom-media --beyond-small-tablet only screen and (width > 640px);

@custom-media --only-tablet only screen and (width > 640px) and (width <= 768px);
@custom-media --up-to-tablet only screen and (width <= 640px);
@custom-media --tablet only screen and (width <= 768px);
@custom-media --beyond-tablet only screen and (width > 768px);

@custom-media --only-small-desktop only screen and (width > 768px) and (width <= 1024px);
@custom-media --up-to-small-desktop only screen and (width <= 768px);
@custom-media --small-desktop only screen and (width <= 1024px);
@custom-media --beyond-small-desktop only screen and (width > 1024px);

@custom-media --only-large-desktop only screen and (width > 1024px) and (width <= 1280px);
@custom-media --up-to-large-desktop only screen and (width <= 1024px);
@custom-media --large-desktop only screen and (width <= 1280px);
@custom-media --beyond-large-desktop only screen and (width > 1280px);

@custom-media --only-xlarge-desktop only screen and (width > 1280px) and (width <= 1824px);
@custom-media --up-to-xlarge-desktop only screen and (width <= 1280px);
@custom-media --xlarge-desktop only screen and (width <= 1824px);
@custom-media --beyond-xlarge-desktop only screen and (width > 1824px);

@custom-media --only-xxlarge-desktop only screen and (width > 1824px) and (width <= 2560px);
@custom-media --up-to-xxlarge-desktop only screen and (width <= 1824px);
@custom-media --xxlarge-desktop only screen and (width <= 2560px);
@custom-media --beyond-xxlarge-desktop only screen and (width > 2560px);

@custom-media --short-view only screen and (height <= 800px);
