.site-header {
  height: var(--site-header-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--prereview-red);
  color: white;
  padding: var(--mgrd);
  box-shadow: 0 2px 4px lightgrey;
  position: fixed;
  left: 0;
  right: 0;
}

.site-header__title {
  margin: 0 !important;
}
.site-header a {
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}
